@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color:#283b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
}

body{

    font-family: 'poppins',sans-serif;
    color: var(--primary-text-color);

}
p{
    font-family: 'Roboto',sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav{
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
    margin-bottom: 10px;
}
.main-nav{

    justify-content: space-between;
    padding-block: 8px;

}

.company-logo img{
    width: 100px;
    padding-left: 30px;
}
.nav-link ul {
    gap: 25px;
    font-size: 20px;
}
.hover-link:hover{
    cursor: pointer;
}
.hover-link:active{
    color: red;
}
.serch-bar {
height: 30px;
gap: 4px;
margin-right: 30px;
}
.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 15px;
    border: 2px solid white;
    border-radius: 4px;
    font-family: 'Roboto',sans-serif;
}
.serch-button{
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
}
.serch-button:hover{
    background-color: var(--accent-color-dark);

}

/* next stape styling */

main{
    padding-block: 20px;
    margin-top: 110px;
}
.card-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}
.card{
    width: 338px;
    min-height: 400px;
    box-shadow: 0 0 4px black;
    border-radius: 6px;
    background-color: #e0e3e6;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
}
.card:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #a6bcc7;
    transform: translateY(-5px);
}
.card-header img{
   width: 100%;
   height: 220px;
   object-fit: cover;
}

.card-containt {
    padding: 20px;
}
.news-source{
    margin-block: 12px;
}

